{% load static %}



<!DOCTYPE html>
  <html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="plotly-1.20.4.min.js"></script>
  </head>
  <body>

  <br>
  <div class="row">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th> AÑO</th>
            <th> COMUNA</th>
            <th> PUNTOS LUMINOSOS</th>
            <th> INVERSION</th>
          </tr>
        </thead>
        {% for key in results_df %}
          {% if key.comuna == codigo and codigo2 == None %}
            <tbody>
              <tr>
                <div class="row">
                  <td>{{key.a_o}}</td>
                  <td>{{key.comuna}}</td>
                  <td>{{key.puntos_luminosos}}</td>
                  <td>{{key.inversion}}</td>
                </div>
              </tr>
            </tbody>
          {% endif %}
        {% endfor %}
        <br>

{% for key2 in results_df %}
  {% if key2.inversion == codigo2 and codigo == None %}
  <tbody>
    <tr>
      <div class="row">
        <td>{{key.a_o}}</td>
        <td>{{key.comuna}}</td>
        <td>{{key.puntos_luminosos}}</td>
        <td>{{key.inversion}}</td>
      </div>
    </tr>
  </tbody>
  {% endif %}
  {% endfor %}
</table>
</div>
</div>

<br>
<!-- GRAFICAS -->

{% if codigo2 == None %}
    <div id="ALUMBRADO" style="height: 600px; width: 800px;" class="plotly-graph-div"></div>
      <script>
      var trace1 =
        {
          x: [{% for r in results_df %}
              {% for t in y %}
                {% if r.comuna == codigo and r.a_o == t  %}
                  '{{t}}',
                {% endif %}
              {% endfor %}
            {% endfor %}],
          y: [{% for r in results_df %}
            {% if r.comuna == codigo  %}
              {{r.comuna}},
            {% endif %}
          {% endfor %}],
        name: 'Numero de comunas',
        type: 'bar'
      };

      var trace2 = {
        x: [{% for r in results_df %}
            {% for t in y %}
              {% if r.comuna == codigo and r.a_o == t %}
                '{{t}}',
              {% endif %}
           {% endfor %}
          {% endfor %}],
        y: [{% for r in results_df %}
           {% if r.comuna == codigo  %}
            {{r.puntos_luminosos}},
           {% endif %}
        {% endfor %}],
      name: 'Total de puntos luminosos',
      type: 'bar'
    };

    var data = [trace1, trace2];
    var layout = {barmode: 'group'};
    Plotly.newPlot('ALUMBRADO',  data, layout, {displayModeBar: true});
  </script>
{% endif %}
</body>
</html>
